
<link rel="stylesheet" href="./mark.css">
<div id="root">
  <div class="mt-0">
    <div class="flex flex-col lg:py-1 min-h-screen px-1">
      <form class="bg-white px-1 pt-2 pb-0 w-full space-y-0" dir="rtl">
        <div class="flex">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 512 512"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
            class="text-3xl text-gray-600"
          >
            <path
              d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm-28.9 143.6l75.5 72.4H120c-13.3 0-24 10.7-24 24v16c0 13.3 10.7 24 24 24h182.6l-75.5 72.4c-9.7 9.3-9.9 24.8-.4 34.3l11 10.9c9.4 9.4 24.6 9.4 33.9 0L404.3 273c9.4-9.4 9.4-24.6 0-33.9L271.6 106.3c-9.4-9.4-24.6-9.4-33.9 0l-11 10.9c-9.5 9.6-9.3 25.1.4 34.4z"
            ></path>
          </svg>
          <h5
            class="text-2xl lg:mr-12 font-bold text-center text-gray-700"
            style="
              font-size: 17.5px;
              letter-spacing: 0em;
              font-variation-settings: 'opsz' 32;
              font-weight: 900;
              margin-right: 7px;
              margin-bottom: 3px;
            "
          >
            إضافة تقرير (بالعربي)
          </h5>
        </div>
        <div
          style="font-size: 13.5px; line-height: 20.25px; padding-bottom: 4px"
          class="py-1 flex gap-2 lg:flex-col lg:flex-row md:flex-col md:flex-row"
        >
          <div class="xs:w-20 sm:w-18 md:w-15 lg:w-12">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >رمز تداول</label
            >

            <input
              type="text"
              required=""
              value=""
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-2 leading-tight focus:outline-none focus:bg-white"
              placeholder="أدخل رمز تداول"
            />
          </div>

          <div class="xs:w-78 sm:w-75 md:w-60 lg:w-35">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >الاسم الكامل</label
            ><input
              type="text"
              placeholder="الاسم الكامل"
              value=""
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
            />
          </div>
        </div>
        <div
          style="
            font-size: 13.5px;
            line-height: 20.25px;
            padding-top: 0px;
            padding-bottom: 0px;
          "
          class="py-1 flex gap-2 lg:flex-col lg:flex-row md:flex-col md:flex-row sm:flex-col sm:flex-row xs:flex-col xs:flex-row"
        >
          <div class="xs:w-50 sm:w-46 md:w-37 lg:w-23">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >الاسم المختصر </label
            ><input
              type="text"
              placeholder="الاسم المختصر"
              value=""
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-2 leading-tight focus:outline-none focus:bg-white"
            />
          </div>
          <div class="xs:w-50 sm:w-46 md:w-37 lg:w-23">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >القطاع</label
            ><input
              type="text"
              placeholder="أدخل القطاع"
              required=""
              value=""
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-2 leading-tight focus:outline-none focus:bg-white"
            />
          </div>
        </div>
        <div
          style="
            font-size: 13.5px;
            line-height: 20.25px;
            letter-spacing: 0em;
            padding-bottom: 0px;
          "
          class="py-1 grid xs:grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 gap-2"
        >
          <div class="space-y-2">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >ر 1</label
            ><input
              type="file"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
              style="margin-top: 0px"
            />
            <div class="react-datepicker-wrapper" style="margin-top: 0.2rem">
              <div
                class="flex flex-col flex-row react-datepicker_input-container"
              >
                <input
                  type="text"
                  placeholder="اختر التاريخ"
                  value=""
                  class="appearance-none w-60 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                  style="margin-left: 4px"
                /><input
                  type="text"
                  placeholder="أدخل السنة"
                  value=""
                  class="appearance-none xs:w-38 sm:w-37 md:w-37 lg:w-38 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                />
              </div>
            </div>
          </div>
          <div class="space-y-2">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >ر 2</label
            ><input
              type="file"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
              style="margin-top: 0px"
            />
            <div class="react-datepicker-wrapper" style="margin-top: 0.2rem">
              <div
                class="flex flex-col flex-row react-datepickerinput-container"
              >
                <input
                  type="text"
                  placeholder="اختر التاريخ"
                  value=""
                  class="appearance-none w-60 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                  style="margin-left: 4px"
                /><input
                  type="text"
                  placeholder="أدخل السنة"
                  value=""
                  class="appearance-none xs:w-38 sm:w-37 md:w-37 lg:w-38 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                />
              </div>
            </div>
          </div>
          <div class="space-y-2">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >ر 3</label
            ><input
              type="file"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
              style="margin-top: 0px"
            />
            <div class="react-datepicker-wrapper" style="margin-top: 0.2rem">
              <div
                class="flex flex-col flex-row react-datepickerinput-container"
              >
                <input
                  type="text"
                  placeholder="اختر التاريخ"
                  value=""
                  style="margin-left: 4px"
                  class="appearance-none w-60 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                /><input
                  type="text"
                  placeholder="أدخل السنة"
                  value=""
                  class="appearance-none xs:w-38 sm:w-37 md:w-37 lg:w-38 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                />
              </div>
            </div>
          </div>
          <div class="space-y-2">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >ر 4</label
            ><input
              type="file"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
              style="margin-top: 0px"
            />
            <div class="react-datepicker-wrapper" style="margin-top: 0.2rem">
              <div
                class="flex flex-col flex-row react-datepickerinput-container"
              >
                <input
                  type="text"
                  placeholder="اختر التاريخ"
                  value=""
                  style="margin-left: 4px"
                  class="appearance-none w-60 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                /><input
                  type="text"
                  placeholder="أدخل السنة"
                  value=""
                  class="appearance-none xs:w-38 sm:w-37 md:w-37 lg:w-38 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                />
              </div>
            </div>
          </div>
          <div class="space-y-2">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >ن.س</label
            ><input
              type="file"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
              style="margin-top: 0px"
            />
            <div class="react-datepicker-wrapper" style="margin-top: 0.2rem">
              <div
                class="flex flex-col flex-row react-datepickerinput-container"
              >
                <input
                  type="text"
                  placeholder="اختر التاريخ"
                  value=""
                  style="margin-left: 4px"
                  class="appearance-none w-60 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                /><input
                  type="text"
                  placeholder="أدخل السنة"
                  value=""
                  class="appearance-none xs:w-38 sm:w-37 md:w-37 lg:w-38 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                />
              </div>
            </div>
          </div>
          <div class="space-y-2">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >السنوي</label
            ><input
              type="file"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
              style="margin-top: 0px"
            />
            <div class="react-datepicker-wrapper" style="margin-top: 0.2rem">
              <div
                class="flex flex-col flex-row react-datepickerinput-container"
              >
                <input
                  type="text"
                  placeholder="اختر التاريخ"
                  value=""
                  style="margin-left: 4px"
                  class="appearance-none w-60 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                /><input
                  type="text"
                  placeholder="أدخل السنة"
                  value=""
                  class="appearance-none xs:w-38 sm:w-37 md:w-37 lg:w-38 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                />
              </div>
            </div>
          </div>
          <div class="space-y-2">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >المجلس</label
            ><input
              type="file"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
              style="margin-top: 0px"
            />
            <div class="react-datepicker-wrapper" style="margin-top: 0.2rem">
              <div
                class="flex flex-col flex-row react-datepicker_input-container"
              >
                <input
                  type="text"
                  placeholder="اختر التاريخ"
                  value=""
                  class="appearance-none w-60 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                  style="margin-left: 4px"
                /><input
                  type="text"
                  placeholder="أدخل السنة"
                  value=""
                  class="appearance-none xs:w-38 sm:w-37 md:w-37 lg:w-38 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="flex justify-end mt-2 w-full h-20 relative"
          style="margin-top: 0px"
        >
          <button
            type="submit"
            style="
              padding-top: 0.15rem;
              padding-bottom: 0.15rem;
              padding-left: 1.6rem;
              padding-right: 1.6rem;
              line-height: 22px;
            "
            class="bg-gradient-to-r mr-0 from-gray-500 via-gray-600 to-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition-transform duration-300 ease-in-out"
          >
            رفع
          </button>
        </div>
      </form>

      <hr style="margin-top: 7px" />

      <form
        style="font-size: 13.5px"
        class="bg-white px-1 pt-2 pb-0 w-full space-y-0"
      >
        <div
          class="py-1 flex gap-2 lg:flex-col lg:flex-row md:flex-col md:flex-row"
          style="font-size: 12px; line-height: 20.25px"
        >
          <div class="xs:w-26 sm:w-18 md:w-15 lg:w-12">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >Tadawul Code</label
            ><input
              type="text"
              required=""
              value=""
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-2 leading-tight focus:outline-none focus:bg-white"
              placeholder="Enter Tadawul Code"
            />
          </div>

          <div class="xs:w-70 sm:w-75 md:w-60 lg:w-35">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >Full Name
            </label>
            <input
              type="text"
              placeholder="Full Name"
              value=""
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
            />
          </div>
        </div>

        <div
          class="py-1 flex gap-2 lg:flex-col lg:flex-row md:flex-col md:flex-row sm:flex-col sm:flex-row xs:flex-col xs:flex-row"
          style="font-size: 12px; line-height: 20.25px"
        >
          <div class="xs:w-50 sm:w-46 md:w-37 lg:w-23">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >Nick Name </label
            ><input
              type="text"
              placeholder="Nick Name"
              value=""
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-2 leading-tight focus:outline-none focus:bg-white"
            />
          </div>
          <div class="xs:w-50 sm:w-46 md:w-37 lg:w-23">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >Sector</label
            ><input
              type="text"
              required=""
              value=""
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-2 leading-tight focus:outline-none focus:bg-white"
              placeholder="Enter Sector"
            />
          </div>
        </div>
        <div
          class="py-1 grid xs:grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 gap-2"
          style="font-size: 12px; line-height: 20.25px; letter-spacing: 0em"
        >
          <div class="space-y-2">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >Q1</label
            ><input
              type="file"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
              style="margin-top: 0px"
            />
            <div class="react-datepicker-wrapper" style="margin-top: 0.2rem">
              <div
                class="flex flex-col flex-row react-datepicker_input-container"
              >
                <input
                  type="text"
                  placeholder="Choose Date"
                  value=""
                  class="appearance-none w-60 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                  style="margin-right: 4px"
                /><input
                  type="text"
                  placeholder="Enter Year"
                  value=""
                  class="appearance-none xs:w-38 sm:w-37 md:w-37 lg:w-38 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                />
              </div>
            </div>
          </div>
          <div class="space-y-2">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >Q2</label
            ><input
              type="file"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
              style="margin-top: 0px; padding-left: 0.25rem"
            />
            <div class="react-datepicker-wrapper" style="margin-top: 0.2rem">
              <div
                class="flex flex-col flex-row react-datepickerinput-container"
              >
                <input
                  type="text"
                  placeholder="Choose Date"
                  value=""
                  class="appearance-none w-60 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                  style="margin-right: 4px"
                /><input
                  type="text"
                  placeholder="Enter Year"
                  value=""
                  class="appearance-none xs:w-38 sm:w-37 md:w-37 lg:w-38 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                />
              </div>
            </div>
          </div>
          <div class="space-y-2">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >Q3</label
            ><input
              type="file"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
              style="margin-top: 0px"
            />
            <div class="react-datepicker-wrapper" style="margin-top: 0.2rem">
              <div
                class="flex flex-col flex-row react-datepickerinput-container"
              >
                <input
                  type="text"
                  placeholder="Choose Date"
                  value=""
                  style="margin-right: 4px"
                  class="appearance-none w-60 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                /><input
                  type="text"
                  placeholder="Enter Year"
                  value=""
                  class="appearance-none xs:w-38 sm:w-37 md:w-37 lg:w-38 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                />
              </div>
            </div>
          </div>
          <div class="space-y-2">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >Q4</label
            ><input
              type="file"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
              style="margin-top: 0px"
            />
            <div class="react-datepicker-wrapper" style="margin-top: 0.2rem">
              <div
                class="flex flex-col flex-row react-datepickerinput-container"
              >
                <input
                  type="text"
                  placeholder="Choose Date"
                  value=""
                  style="margin-right: 4px"
                  class="appearance-none w-60 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                /><input
                  type="text"
                  placeholder="Enter Year"
                  value=""
                  class="appearance-none xs:w-38 sm:w-37 md:w-37 lg:w-38 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                />
              </div>
            </div>
          </div>
          <div class="space-y-2">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >SA</label
            ><input
              type="file"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
              style="margin-top: 0px"
            />
            <div class="react-datepicker-wrapper" style="margin-top: 0.2rem">
              <div
                class="flex flex-col flex-row react-datepickerinput-container"
              >
                <input
                  type="text"
                  placeholder="Choose Date"
                  value=""
                  style="margin-right: 4px"
                  class="appearance-none w-60 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                /><input
                  type="text"
                  placeholder="Enter Year"
                  value=""
                  class="appearance-none xs:w-38 sm:w-37 md:w-37 lg:w-38 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                />
              </div>
            </div>
          </div>
          <div class="space-y-2">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >Annual</label
            ><input
              type="file"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
              style="margin-top: 0px"
            />
            <div class="react-datepicker-wrapper" style="margin-top: 0.2rem">
              <div
                class="flex flex-col flex-row react-datepickerinput-container"
              >
                <input
                  type="text"
                  placeholder="Choose Date"
                  value=""
                  class="appearance-none w-60 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                  style="margin-right: 4px"
                /><input
                  type="text"
                  placeholder="Enter Year"
                  value=""
                  class="appearance-none xs:w-38 sm:w-37 md:w-37 lg:w-38 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                />
              </div>
            </div>
          </div>
          <div class="space-y-2">
            <label
              class="block uppercase tracking-wide text-gray-700 font-bold mb-0"
              >Board</label
            ><input
              type="file"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
              style="margin-top: 0px"
            />
            <div class="react-datepicker-wrapper" style="margin-top: 0.2rem">
              <div
                class="flex flex-col flex-row react-datepicker_input-container"
              >
                <input
                  type="text"
                  placeholder="Choose Date"
                  value=""
                  class="appearance-none w-60 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                  style="margin-right: 4px"
                /><input
                  type="text"
                  placeholder="Enter Year"
                  value=""
                  class="appearance-none xs:w-38 sm:w-37 md:w-37 lg:w-38 bg-gray-200 text-gray-700 border rounded py-1 px-1 leading-tight focus:outline-none focus:bg-white"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          style="font-size: 16px; margin-top: rem; margin-bottom: 30px"
          class="flex justify-end mt-2 w-full h-20 relative"
        >
          <button
            type="submit"
            style="
              padding-top: 0.4rem;
              padding-bottom: 0.4rem;
              padding-left: 0.7rem;
              padding-right: 0.7rem;
              line-height: 18px;
            "
            class="bg-gradient-to-r mr-0 from-gray-500 via-gray-600 to-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition-transform duration-300 ease-in-out"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
