/* Styles for Arabic and English fonts */
.font-arabic {
    font-family: "Your Arabic Font", sans-serif;
    direction: rtl;
}

.font-english {
    font-family: "Your English Font", sans-serif;
    direction: ltr;
}
.nickName {
   grid-template-columns: repeat(7, auto);
}
@media(max-width: 1024px ){
    .nickName {
        grid-template-columns: repeat(6, auto);
     }
     
}
@media(max-width: 750px ){
    .nickName {
        grid-template-columns: repeat(5, auto);
     }
     
}
@media(max-width: 450px ){
    .nickName {
        grid-template-columns: repeat(3, auto);
     }
     
}