
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
  }

  html, body {
    overflow-x: hidden;
  }


  .no-scrollbar {
    overflow: hidden;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
  }


  

  /* Bounce animation on the text */
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }


  .tooltip {
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.75s; /* Delay before showing */
  }
  
  .group:hover .tooltip {
    opacity: 0.9;
    animation: fadeOutTooltip 3.5s ease-in-out forwards;
    animation-delay: 0.75s; /* Delay before starting fade-out */
  }
  
  @keyframes fadeOutTooltip {
    0% {
      opacity: 0.9;
    }
    70% {
      opacity: 0.9;
    }
    100% {
      opacity: 0;
    }
  }
  